# This is a configuration file for npm, which specifies a production flag set to false. This means that when packages are installed, development dependencies will also be installed, in addition to production dependencies.
production=false